html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.clip__section {
    padding: 100px 0;
    text-align: center;
    background-color: tomato;

}
.clip__container {
    position: relative;
    margin: 0 auto;
    height: 500px;
    width: 1200px;

    background-color: teal;
}
.clip__item {
    position: absolute;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.spring {
}
.summer {
}
.autumn {
}
.winter {
}